// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif           : $helvetica;
$serif                : $georgia;

$base-font-family     : $sans-serif;
$header-font-family   : $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size       : em(14);
$base-line-height     : $base-font-size * 1.5;
$base-border-radius   : em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue         : #38A196; // Quafe Green Color
$dark-gray    : #333;
$medium-gray  : #999;
$light-gray   : #DDD;
$light-red    : #FBE3E4;
$light-yellow : #FFF6BF;
$light-green  : #E6EFC2;

// Body Color
$base-body-color: $background;

//  Font Colors
$base-font-color: $color;
$base-accent-color: $blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: rgba(lighten($base-body-color, 25), .75);

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
